
* {
    box-sizing: border-box;
}



/* Responsive grid system ----------------------------------------------*/

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.row {
  position: relative;
  width: 100%;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

.row [class^="col"] {
  float: left;
  min-height: 0.125rem;
  margin: 0 1%;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6,
.col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  width: 98%;
}

.col-1-sm {width: 4.33%;}
.col-2-sm {width: 12.66%;}
.col-3-sm {width: 21%;}
.col-4-sm {width: 29.33%;}
.col-5-sm {width: 37.66%;}
.col-6-sm {width: 46%;}
.col-7-sm {width: 54.33%;}
.col-8-sm {width: 62.66%;}
.col-9-sm {width: 71%;}
.col-10-sm {width: 79.33%;}
.col-11-sm {width: 87.66%;}
.col-12-sm {width: 96%;}

.hidden-sm {
  display: none;
}

/* Styes, below 600px  ----------------------------------------------*/
body {
  font-size: 14pt;
  font-family: 'Overpass', sans-serif;
  font-weight:300;
  color: #091017;
}


.right {
  float: right;
}

.left {
  float: left;
}

.no-margin-sm {
  margin: 0;
}

/* Nav bar */

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
}

.header {
  background-color: white;
  z-index: 1;
}

.LHlogo {
  width: 45%;
  height: 45%;
  max-height: 100%;
  display: block;
  margin:0 auto;
  padding-top: 10px;
}

.all-nav-links {
  text-transform: uppercase;
  font-size: 10pt;
  width: 320px;
  margin: auto;
}

.nav-link {
  padding: 0 0 0 1.5em;
  display: inline-block;
}

.nav-link a:link,
.nav-link a:hover,
.nav-link a:active,
.nav-link a:visited
{
  font-weight:700;
  color: #091017;
  text-decoration: none;
}

#LinkedInlogo-top {
  height: 20px;
  transform: translate(0, 4px);
}

.wrapper {
  margin-top: 30%;
}

/* Main Content */

h1, h3 {
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: 2.2em;
  margin: 1em 0 0 0;
}

h2 {
  font-family: 'Overpass', sans-serif;
  font-weight: 200;
  font-size: 1.2em;
  margin: 0;
}

h3 {
  display: block;
  font-size: 18pt;
  text-align: center;
}

.hero-photo {
  width: 100%;
}

.hero-background {
  display: none;
}

.hero-text-box-outer {
  background-image: url("../images/YellowHero.png");
  padding-top: 3em;
}

.hero-text-box-inner {
  padding: 0 0 .5em .8em;
}

.section-title {
  padding-top: 5em;
}

.section-padding {
  padding: 5em;
}

.case-study-photo {
  width: 100%;
  height: auto;
  margin: 0.5rem 0;
}

p a:link,
p a:active,
p a:visited
{
  font-weight: 700;
  color: #091017;
  text-decoration: none;
}

#email-sentence {
  display: inline-block;
}

.email-img {
  display: inline-block;
  height: 20px;
}

p a:hover {
  text-decoration: underline;
}

.icon-inline {
  height: 20px;
  transform: translate(0, 3px);
  margin-left: 4px;
}

/* Footer */

.footer-contact-link {
  display: inline-block;
}

.site-footer {
  padding-top: 6em;
}

.footer-width {
  background-color: #d7e0e8;
}

.all-footer-contact-links {
  text-align: center;
}

.bottom-icon {
  max-height: 20px;
  padding: 0 10px;
}

.footer-text {
  font-size: .8em;
}


/* From 600px to 960 px ----------------------------------------------*/
@media only screen and (min-width: 600px) {
  .col-1 {width: 4.33%;}
  .col-2 {width: 12.66%;}
  .col-3 {width: 21%;}
  .col-4 {width: 29.33%;}
  .col-5 {width: 37.66%;}
  .col-6 {width: 46%;}
  .col-7 {width: 54.33%;}
  .col-8 {width: 62.66%;}
  .col-9 {width: 71%;}
  .col-10 {width: 79.33%;}
  .col-11 {width: 87.66%;}
  .col-12 {width: 96%;}

  .hidden-sm {display: block;}

  .wrapper {
    margin-top: 6em;
  }

  .container {
    width: 90%;
  }

  .row [class^="col"] {
    margin: 0.5rem 2%;

  }

  .LHlogo {
    height: 50px;
    width: 203px;
    float: left;
    padding-top: 3px;
  }

  .all-nav-links {
    text-transform: uppercase;
    font-size: 12pt;
    width: 400px;
    padding-left: 2px;
    text-align: right;
    float:right;
  }

  .hero-row {
    margin: 2em 0 7em 0;
  }

  .hero-photo {
    max-width: 15em;
    width: auto;
    float: right;
  }

  .hero-text-box-outer {
    height: 23px;
    position: relative;
    background-image: none;
  }

  .hero-text-box-inner {
    position: absolute;
    top: 210px;
    left: -20px;
  }

  .hero-background {
    display: block;
    position:absolute;
    top: 9.5em;
    left: 5%;
    width: 90%;
    height: 15em;
    max-width: 864px;
    z-index: -1;
  }


  #blockText {
    width: 70%;
    margin: 0 15% 0 15%;
    text-align: left;
  }

  .all-footer-contact-links {
    float:right;
  }

}

/* Above 960 px ----------------------------------------------*/
@media only screen and (min-width: 960px) {
  .container {
    width: 90%;
    max-width: 960px;
  }

  .hero-row {
    margin-bottom: 5em;
  }

  .hero-photo {
    max-width: 18em;
  }


}
