/* -------- Page-wide -------- */

:root {
  --brand-color:#4A82BB;
  --brand-secondary-color: #FECB78;

  --text-color: #091017;
  --dark-grey-color: #B5BABF;

  --font-serif: 'Playfair Display', serif;
  --font-sans-serif: 'Overpass', sans-serif;

  --jottfulblog-color: #F09061;
  --webdesign-color: #A4BF87;
  --printdesign-color: #93C8D4;

}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: white;
}

img {
  width: 100%;
}

#extralongtopmargin {
  margin-top: 300px;
}


/* -------- Navigation & Footer -------- */

#lindeHuangLogo {
  height: 40px;
  width: auto;
  transform: translate(0, 5px);
  padding-left: 1.5em;
}

.main-nav ul {
	margin: 1em 0 .5em 0;
	text-align: center;
  padding-left: 0;
}
.main-nav li {
	display: inline;

}
.main-nav a {
	display: inline-block;
  padding: 0;
}

nav {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
  padding: 1em 1em;
}

@media only screen and (max-width: 600px) {
  nav {
    justify-content: space-around;
  }
}

.main-nav li {
  padding: 2em 1.5em 0 1.5em;
  list-style: none;
  font-weight: 700;
  margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
  .main-nav li {
    padding: .2em .8em;
  }
}

.main-nav a {
  color: var(--brand-color);
}

.icon-inline {
  transform: translate(0, 2px);
  height: 18px;
  width: auto;
}

footer {
  background-color: var(--dark-grey-color);
  margin-top: 1em;
  padding: 2em 1.5em;
  font-size: .9em;
  text-align: center;
}

footer ul, footer p {
  /* margin: 0; */
  padding-left:0;
}

footer li {
  list-style: none;
  display: inline-block;
  padding: 0 .5em;
}


/* -------- Content Grid -------- */

article {
  max-width: 850px;
  margin: 0 auto;
  padding: 0 25px;
}

section {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-column-gap: 25px;
}

/* @media only screen and (max-width: 600px) {
  section {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-column-gap: 25px;
  }
} */

.full-width {
  grid-column: 1/-1
}

.partial-width {
  grid-column: 3/11
}

/* @media only screen and (max-width: 600px) {
  .partial-width {
    grid-column: 2/6;
  }
} */

.image-full-width {
  grid-column: 1/-1;
  width: 100%;
  height: auto;
  margin: 3rem 0;
}

.image-partial-width {
  grid-column: 3/11;
  width: 100%;
  height: auto;
  margin: 2rem 0;
}

.image-half-width {
  grid-column-start: span 6;
  width: 100%;
  height: auto;
  margin: 2rem 0;
}

.image-half-width-centered {
  grid-column: 4/9;
  width: 100%;
  height: auto;
  margin: 2rem 0;
}

.image-third-width {
  grid-column-start: span 4;
  width: 100%;
  height: auto;
  margin: 2rem 0;
}

.image-quarter-width {
  grid-column-start: span 3;
  width: 100%;
  height: auto;
  margin: 2rem 0;
}

@media only screen and (max-width: 600px) {
  .image-partial-width,
  .image-half-width,
  .image-half-width-centered,
  .image-third-width {
    grid-column: 1/-1;
  }

  .image-quarter-width {
    grid-column-start: span 6;
}
}





/* -------- Typography: Major Third scale -------- */

html {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
}

h1, h2, h3 {
  font-family: var(--font-serif);
}

h4, h5 {
  font-family: var(--font-sans-serif);
}

h1 {
  margin: 2.5em 0 0 0;
  font-size: 3.052em;
  line-height: 1.2em;
  text-align: center;
  transition: all .8s;
}

@media only screen and (max-width: 600px) {
  h1 {
    margin-top: 1em;
  }
}

h2 {
  font-size: 2.441em;
  margin: 2em 0 .5em 0;
  right: 1em;
}

h3 {
  font-size: 1.953em;
  margin: .5em 0 .5em 0;
}


h4 {
  font-size: 1.563em;
  font-weight: 700;
  margin: .7em 0 .2em 0;

}

h5 {
  font-size: 1.25em;
  font-weight: 700;
  text-align: center;
  border-top: solid .08em var(--jottfulblog-color);
  border-bottom: solid .08em var(--jottfulblog-color);
  margin: 1em 0 .6em 0;
}


body {
  font-family: var(--font-sans-serif);
}

p {
  margin: 0 0 1em 0;
  line-height: 1.8em;
}

p a {
  font-weight: 700;
  color: var(--brand-color)
}

p a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
}

strong {
  font-weight: 700;
}

ul, ol {
  margin-top: 0
}

ul li, ol li {
  margin-bottom: .6em;
}


/* -------- Images & Video -------- */

.page-end-logo {
  grid-column: 1/-1;
  justify-self: center;
  width: 60px;
  height: auto;
  margin: 6em 0;
}

.transform-scale {
  transition: all .8s;
}

.transform-scale:hover {
  transform: scale(1.05);
}

.img-border {
  border: 1px solid var(--dark-grey-color);
}

.video-full-width {
  width: 100%;
  height: 450px;
  margin: 2em 0;
}

/* -------- Typography Style Block Colors -------- */


.brand-color-h1::after,
.brand-secondary-color-h1::after,
.jottful-color-h1::after,
.webdesign-color-h1::after,
.printdesign-color-h1::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  top: 2px;
  z-index: -1;
}

.brand-color-h1::after {
  border-bottom: 0.25em solid var(--brand-color);
}

.brand-secondary-color-h1::after {
  border-bottom: 0.25em solid var(--brand-secondary-color);
}

.jottful-color-h1::after {
  border-bottom: 0.25em solid var(--jottfulblog-color);
}

.webdesign-color-h1::after {
  border-bottom: 0.25em solid var(--webdesign-color);
}

.printdesign-color-h1::after {
  border-bottom: 0.25em solid var(--printdesign-color);
}


.brand-color-h2::after,
.brand-secondary-color-h2::after,
.jottful-color-h2::after,
.webdesign-color-h2::after,
.printdesign-color-h2::after  {
  content: "";
  position: relative;
  display: block;
  width: 50px;
  top: .1em;
}

.brand-color-h2::after {
  border-bottom: 4px solid var(--brand-color);
}

.brand-secondary-color-h2::after {
  border-bottom: 4px solid var(--brand-secondary-color);
}

.jottful-color-h2::after {
  border-bottom: 4px solid var(--jottfulblog-color);
}

.webdesign-color-h2::after {
  border-bottom: 4px solid var(--webdesign-color);
}

.printdesign-color-h2::after {
  border-bottom: 4px solid var(--printdesign-color);
}




/* -------- Home Page Only -------- */


.home-header-text {
  margin-bottom: .5em;
}

.home-subheader-text {
  font-size: 1.4em;
}

@media only screen and (max-width: 600px) {
  .home-subheader-text {
    font-size: 1.3em;
    line-height: 1.6em;
  }
}




/* -------- Overriding Spacing -------- */

.no-margin-bottom {
  margin-bottom: 0;
}

.no-margin-top {
  margin-top: 0;
}
